PORT=3000
JIKAN_BASE_URL=https://api.jikan.moe/v4
CACHE_TTL_SECONDS=600
SHORT_CACHE_TTL_SECONDS=60

TRANSLATE_SYNOPSES=true
TRANSLATION_BASE_URL=https://api.mymemory.translated.net/get

JWT_SECRET=change_this_secret_with_at_least_32_characters
JWT_EXPIRES_IN=7d