--
-- PostgreSQL database dump
--

\restrict ydfPqekdrj0xoeI9PXkmHxVMUz2iO1Bzrn1cIYs4kXJKKgVZElfu1R32OciJhez

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: InteractionType; Type: TYPE; Schema: public; Owner: animedev
--

CREATE TYPE public."InteractionType" AS ENUM (
    'FAVORITE',
    'UNFAVORITE',
    'TRIVIA_SCORE',
    'VIEW',
    'DISLIKE'
);


ALTER TYPE public."InteractionType" OWNER TO animedev;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: User; Type: TABLE; Schema: public; Owner: animedev
--

CREATE TABLE public."User" (
    id text NOT NULL,
    "deviceId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    email text,
    password text,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "displayName" text
);


ALTER TABLE public."User" OWNER TO animedev;

--
-- Name: UserInteraction; Type: TABLE; Schema: public; Owner: animedev
--

CREATE TABLE public."UserInteraction" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "animeId" integer NOT NULL,
    type public."InteractionType" NOT NULL,
    payload jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."UserInteraction" OWNER TO animedev;

--
-- Name: UserSettings; Type: TABLE; Schema: public; Owner: animedev
--

CREATE TABLE public."UserSettings" (
    "userId" text NOT NULL,
    "ageRange" integer DEFAULT 0 NOT NULL,
    "genderCode" integer DEFAULT 0 NOT NULL,
    "regionCode" integer DEFAULT 0 NOT NULL,
    "preferredGenres" integer[] DEFAULT ARRAY[]::integer[],
    toggles jsonb DEFAULT '{}'::jsonb NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "preferredDurations" text[] DEFAULT ARRAY[]::text[]
);


ALTER TABLE public."UserSettings" OWNER TO animedev;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: animedev
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO animedev;

--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: animedev
--

COPY public."User" (id, "deviceId", "createdAt", email, password, "updatedAt", "displayName") FROM stdin;
d95b1311-3b3e-4e83-8238-f368da7f09a7	danpa-device-001	2026-03-04 07:55:53.94	daniel@animedev.com	\N	2026-03-04 14:51:32.865	Daniel Cuestas
450b8f1b-7517-4010-8e0d-1e3efa7b34a4	b7d6985a39a9f9c8	2026-03-05 18:13:24.249	\N	\N	2026-03-05 18:13:24.249	\N
\.


--
-- Data for Name: UserInteraction; Type: TABLE DATA; Schema: public; Owner: animedev
--



--
-- Data for Name: UserSettings; Type: TABLE DATA; Schema: public; Owner: animedev
--

COPY public."UserSettings" ("userId", "ageRange", "genderCode", "regionCode", "preferredGenres", toggles, "updatedAt", "createdAt", "preferredDurations") FROM stdin;
d95b1311-3b3e-4e83-8238-f368da7f09a7	2	1	57	{1,4,10}	{}	2026-03-04 14:51:32.916	2026-03-04 07:55:53.94	{SHORT,MEDIUM}
450b8f1b-7517-4010-8e0d-1e3efa7b34a4	1	1	1	{2,5,28,24,37,54,40,73,21,23,29}	{"autoplayNextEpisode": true, "notificationsEnabled": true, "culturalAlertsEnabled": true, "hasCompletedOnboarding": true}	2026-03-07 22:21:41.73	2026-03-05 18:13:24.249	{SHORT,MEDIUM,LONG}
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: animedev
--



--
-- Name: UserInteraction UserInteraction_pkey; Type: CONSTRAINT; Schema: public; Owner: animedev
--

ALTER TABLE ONLY public."UserInteraction"
    ADD CONSTRAINT "UserInteraction_pkey" PRIMARY KEY (id);


--
-- Name: UserSettings UserSettings_pkey; Type: CONSTRAINT; Schema: public; Owner: animedev
--

ALTER TABLE ONLY public."UserSettings"
    ADD CONSTRAINT "UserSettings_pkey" PRIMARY KEY ("userId");


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: animedev
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: animedev
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: UserInteraction_userId_animeId_idx; Type: INDEX; Schema: public; Owner: animedev
--

CREATE INDEX "UserInteraction_userId_animeId_idx" ON public."UserInteraction" USING btree ("userId", "animeId");


--
-- Name: UserInteraction_userId_type_idx; Type: INDEX; Schema: public; Owner: animedev
--

CREATE INDEX "UserInteraction_userId_type_idx" ON public."UserInteraction" USING btree ("userId", type);


--
-- Name: User_deviceId_key; Type: INDEX; Schema: public; Owner: animedev
--

CREATE UNIQUE INDEX "User_deviceId_key" ON public."User" USING btree ("deviceId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: animedev
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: UserInteraction UserInteraction_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: animedev
--

ALTER TABLE ONLY public."UserInteraction"
    ADD CONSTRAINT "UserInteraction_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserSettings UserSettings_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: animedev
--

ALTER TABLE ONLY public."UserSettings"
    ADD CONSTRAINT "UserSettings_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ydfPqekdrj0xoeI9PXkmHxVMUz2iO1Bzrn1cIYs4kXJKKgVZElfu1R32OciJhez

